<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href="./css/style.css">
    <title>
        Error
    </title>
</head>

<body>
    <div class="main-content">
        {{>header}} 
        {{errorMessage}}   
    </div>
    {{>footer}}
</body>
</html>