<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href="./css/style.css">
    
    <title>
        Welcome
    </title>
</head>

<body>
    <div class = 'main-content'>
        {{>header}}
        <p>Use this site to get the Weather..!</p>
        <form>
        <input placeholder="Enter Location">
        <button>Submit</button>
        </form>

        <p id='message-one'></p>
        <p id='message-two'></p>
    </div>
    
    {{>footer}}

    <script src = './js/app.js'></script>
</body>
</html>